<!DOCTYPE html>
<html ng-app="testingAngularApp">

<head>
    <meta charset="UTF-8">
    <title>Unit Testing with AngularJS</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="testingAngularCtrl as ctrl">
    <header>
        <h2>{{ctrl.title}}</h2>
    </header>

    <section>
    	<form ng-submit="ctrl.addDestination()">
    		<p><label for="city">City</label>: <input name="city" id="city" type="text" ng-model="ctrl.newDestination.city"></p>
    		<p><label for="country">Country</label> <input name="country" id="country" type="text" ng-model="ctrl.newDestination.country"></p>
    		<p><input type="submit" value="Add"></p>
    	</form>
    </section>

    <section ng-show="ctrl.destinations.length > 0">
    	<h2>Your Trip</h2>
    	<ul> 
    		<li ng-repeat="dest in ctrl.destinations">
    			{{dest.city}}, {{dest.country}}
    			<button ng-click="ctrl.removeDestination($index)">Remove</button>
    		</li>
    	</ul>
    </section>
</body>

</html>
